name: Deploy Jaspr

on:
  push:
    branches: [main]

permissions:
  pages: write
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - run: dart pub global activate jaspr_cli
      - run: dart pub get
      - run: jaspr build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: build/jaspr

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
